<!DOCTYPE html>
<html>
  <head>
    <title>Place Search Pagination</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <script>
      const key = '<%= ENV['GOOGLE_API_KEY'] %>';
    </script>
    

    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
    <script type="module" src="assets/javascripts/map.js"></script>
    
  </head>
  <body>

  <div>
  <h1>Let's go to the restaurant!</h1>
  <div id="result">
    <% @results.each do |food| %>
      <%= food.genre %>
    <% end %>
  </div><br>

  <div id="map" style="height: 600px;"></div>

  <script>
    let map;
    let infowindow;
    let service;

    function initMap() {
      const Amsterdam = new google.maps.LatLng(52.3676, 4.9041);
      
      map = new google.maps.Map(document.getElementById("map"), {
        center: Amsterdam,
        zoom: 14,
        mapId: "8d193001f940fde3",
      });

      const restaurantQuery = "restaurant";

      const genres = [];
      const genreElements = document.querySelectorAll("#result");
      genreElements.forEach(element => {
        genres.push(element.textContent.trim())
      });

      const allGenres = genres.join(", ");
      const query = `restaurant, ${allGenres}`;

      const request = {
        query: query,
        fields: ["name", "geometry"],
      };

      infowindow = new google.maps.InfoWindow();
      service = new google.maps.places.PlacesService(map);
      service.findPlaceFromQuery(request, (results, status) => {
        if (status === google.maps.places.PlacesServiceStatus.OK && results) {
            for (let i = 0; i < results.length; i++) {
                createMarker(results[i]);
            }

            map.setCenter(results[0].geometry.location);
          }
      });
    }

    function createMarker(place) {
        if (!place.geometry || !place.geometry.location) return;

        const marker = new google.maps.Marker({
          map,
          position: place.geometry.location,
        });

        google.maps.event.addListener(marker, "click", () => {
          infowindow.setContent(place.name || "");
          infowindow.open(map);
        });
    }

    window.initMap = initMap;
  </script>

    <%= link_to 'Choose your mood again.', foods_path %>
    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_API_KEY"] %>&callback=initMap&libraries=places"
      defer
    ></script>
    
  </body>
</html>
